.guild {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px;

    margin-top: 12px;

    background: #101015;

    border: 1px solid #292933;

    border-radius: 12px;

    transition: .2s;
}

.guild:hover {
    border-color: #ff2775;
    transform: translateY(-1px);
}


.guild-info {
    display: flex;
    align-items: center;
    gap: 14px;
}


.guild-icon {
    width: 55px;
    height: 55px;

    border-radius: 16px;

    object-fit: cover;

    background: #24242c;
}


.guild-info strong {
    font-size: 16px;
}


.guild-info p {
    color: #777;

    font-size: 13px;

    margin-top: 5px;
}


.configure {
    background: #ff2775;

    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 7px;

    font-weight: bold;

    cursor: pointer;
}


.configure:hover {
    opacity: .85;
}


.empty {
    text-align: center;

    padding: 40px 20px;

    color: #888;
}


.empty h3 {
    color: white;

    margin-bottom: 10px;
}
